<p style="color: green"><%= notice %></p>

<h1>Courses</h1>

<div id="courses">
  <% @courses.each do |course| %>
    <%= render course %>
    <p>
      <%= link_to "Show this Course", course %>
    </p>
  <% end %>
</div>

<%= link_to "New Course", new_course_path %>
